img {
  max-height: max(70px, 14vw);
  width: auto;
  margin-block: auto;
}

.score-container {
  outline: 3px solid hsl(217, 16%, 45%);
  border-radius: 5px;
}

.box {
  padding: 0.5rem;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  width: calc(min(70px, 14vw) - 1rem);
  width: clamp(70px, 15vw, 100px);
}

.box > .title {
  text-transform: uppercase;
  color: hsl(229, 64%, 46%);
  font-weight: 600;
  font-style: normal;
  letter-spacing: 2px;
  font-size: clamp(0.6rem, 2.5vw, 0.8rem);
}

.box > .value {
  font-size: clamp(2rem, 8vw, 3.5rem);
  font-weight: 700;
  color: hsl(229, 25%, 31%);
}
